.encontrado {
    display: flex;
    flex-direction: column;
}

.encontrado textarea {
    border: none;
    resize: none;
    color: #495057;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400; 
    height: 29em;
    padding: 1em 0 0 0;
}

.encontrado textarea:focus {
    outline: none;
}

.encontrado button {
    border-radius: 24px;
    border: 1px solid #0A3871;
    background: #fff;
    width: 328px;
    padding: 24px;
    color: #0A3871;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
}

.encontrado button:hover {
    background: #ebfaff;
    transition: 1s;
}

.copy {
    position: relative;
    left: 19.5em;
    color: #0A3871;
    animation: aparecer 2s ease-in-out;
    opacity: 0;
}

.blank {
    color: #fff;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .encontrado {
        align-items: center;
        padding: 3vh 0;
    }

    .encontrado textarea{
        height: 20vh;
        width: 80%;
    }

    .encontrado button {
        width: 80%;
        margin-top: 3vh;
    }

    .copy{
        position: relative;
        bottom: 0;
        left: 20em;
    }

    .blank {
        color: #fff;
    }    
}

@media screen and (max-width: 767px) {
    .encontrado {
        align-items: center;
        padding: 3vh 0;
    }

    .encontrado textarea{
        height: 20vh;
        width: 80%;
        padding: 0;
        font-size: 15px;
    }

    .encontrado button {
        width: 80%;
        margin-top: 3vh;
    }

    .copy{
        position: relative;
        bottom: 1vh;
        left: 33vw;
    }

    .blank {
        color: #fff;
    }    
}