.desencriptado{
    height: 100vh;
}

.desencriptado-logo {
    margin: 3vw 0 0 0;
}

.desencriptado-contenido{
    margin: 7vh 0 0 5vw;
}

.desencriptado-area {
    display: block;
    border: none;
    background-color: #F3F5FC;
    color: #0A3871;
    caret-color: #0A3871;
    font-family: Inter; 
    font-weight: 400; 
    font-size: 25px;
    width: 45vw;
    padding: 3vh 10vw 45vh 3vw;
    resize: none;
}

.desencriptado-area:focus {
    outline: none;
}

.desencriptado-aviso{
    display: flex;
    margin: 1vw 0 0 0;
}

.desencriptado-aviso p {
    margin-left: .5vw;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    color: #495057;
}

.desencriptado-botones {
    display: flex;
    align-items: flex-start;
}

.desencriptado-botones-encriptar {
    border: none;
    width: 328px;
    background-color: #0A3871;
    color: #fff;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;  
    border-radius: 24px;
    padding: 24px;
}

.desencriptado-botones-encriptar:hover {
    background: #0550a3;
    transition: 1s;
}

.desencriptado-botones-desencriptar {
    width: 328px;
    margin: 0 0 0 2vw;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    background: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
}

.desencriptado-botones-desencriptar:hover {
    background: #d3f3ff;
    transition: 1s;
}